@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=DM+Serif+Text:ital@0;1&family=Mea+Culpa&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@700&display=swap:wght@700&family=Zen+Old+Mincho&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    
    background-image: url(../img/DSC4243.webp), linear-gradient(to top, black 80%, transparent) ;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 65%, transparent);
    height: calc(100vh + 100px);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}
main {
    margin: 30px;   
    height: 100vh;
}

a {
    list-style-type: none;
    text-decoration: none;
}


/* header */
header{ 
    display: flex;
}

.nav {
    background-color: #69c6ff9b;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: center;
    overflow: hidden;
}

.logo {
    display: flex;
    justify-content: center;
    background-color: #ffff13e5;
    margin-block-start: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: transform .3s, box-shadow .3s;
}
.logo a{
    list-style-type: none;
    text-decoration: none; 
    color: black;
    padding-block-start: 20px;
    padding-inline-end: 15px;
    font-family: "Mea Culpa", cursive;
    font-size: 60px;
    
}

.logo:hover  {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* sections de la pagina*/

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 160px);
}

.atencion{
    display: flex;
    background-color: #ffff13e9;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-block-start: 150px;
    height: 100px;
    width: 594px;
    font-weight: black;
    font-size: 32px;
    font-family: "Zen Old Mincho", serif;;
    color: #144967;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.193);
    transition: box-shadow .3s, transform .3s;
}

.atencion:hover {
    transform: scale(110%);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.secu {
    width: 100%;
    height: calc(100vh - 30px);
}











